
section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(to bottom, #a6c0fe, #f68084);
}


.container {
    width: 607px;
    height: auto; /* Change height to auto */
    min-height: 250px; /* Set a minimum height */
    margin: auto;
    margin-top: 25px;
    border-radius: 12px;
    background-image: linear-gradient(180deg, rgb(87, 183, 231), rgb(112, 99, 252));
    transition: height 0.5s ease; /* Add transition for smoother height change */
}

.minimized {
    height: 50px; /* Adjust height as needed */
}

.expanded {
    height: 650px; /* Adjust height as needed */
}

.top-bar{
    display: flex;
    justify-content: center;
    gap: 14px;
    padding-top: 15px;
}
.top-bar input{
    display: flex;
    width: 362px;
    height: 50px;
    background: #ebfffc;
    border: none;
    outline: none;
    border-radius: 40px;
    padding-left: 40px;
    color: #626262;
    font-size: 20px;
    font-weight: 400;

}
.search-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background: #ebfffc;
    border-radius:40px ;
    cursor: pointer;
}

.weather-image{
    margin-left: 200px;
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
}
.weather-temp{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 60px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-style: normal;
}
.weather-location{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 60px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-style: normal;
}
.data-container{
    margin-top: 50px;
    color: white;
    display: flex;
    justify-content: center;

}
 .wind-rate{
font-weight: bold;
}
.humidity-percent{
    font-weight: bold;
}
.element{
    margin: auto;
    display: flex;
    align-items: flex-start;
    gap: 12px;
}
.data{
    font-size: 34px;
    font-weight: 400;
}
.text{
    font-size: 20px;
    font-weight: bold;
}
.icon{
margin-top: 10px;
}
.error {
    color: rgb(239, 92, 51);
    font-size: 24px;
    margin-top: 25px;
    margin-left: -40px;
}

.loading {
    color: #f7f4f4;
    font-size: 25px;
    margin-top: 100px;
}

.minimized {
    height: 50px; /* Adjust height as needed */
}